svg {
  cursor: pointer;
}

.vertical-line {
  position: absolute;
  visibility: invisible;
  z-index: 2;
  width: 1px;
  bottom: 30px;
  left: 0px;
  background: transparent;
}

.tooltip {
  position: absolute;
  visibility: invisible;
  background-color: #1a1a1a;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
}

.vertical-line {
  visibility: hidden;
}

.vertical-line.visible {
  visibility: visible;
  background: #fff;
}

@media screen and (max-width: 600px) {
  .vertical-line {
    visibility: hidden;
  }
}

.y-axis {
  font-size: 13px;
  font-weight: 800;
}

.x-axis {
  font-size: 13px;
  font-weight: 500;
}

.y2-axis {
  font-size: 13px;
  font-weight: 500;
}